.community-list {
    width: 900px;
    padding: 10px;
    background-color: rgba(219, 219, 219, 0.513);
}

.community-list-title {
    font-size: 30px;
    color: rgb(0, 133, 173);
    font-weight: bold;
    padding: 5px;
    text-align: left;
    
    letter-spacing: 2px;
}

.community-join-wrap {
    margin-top: auto;
    margin-bottom: auto;

}

.community-join {
    background-color: green;
    padding: 10px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin: 5px;
    margin-right: 10px;
    z-index: 1000;
}

.community-join:hover {
    background: rgb(116, 194, 0);
    cursor: pointer;
}


.inner-card-wrap {
width: 100%;
}

.card-wrap {
    display: flex;
    background-color: rgb(167, 167, 167);
    height: 100px;
    margin-bottom: 10px;
}