.Topic1 {
    width: 900px;
    padding: 10px;
    background-color: rgba(219, 219, 219, 0.431);
}

.list-title {
    font-size: 30px;
    color: rgb(0, 133, 173);
    font-weight: bold;
    padding: 5px;
    text-align: left;
    letter-spacing: 2px;
}
.buttonBar {
    margin: 0;
}

.List-topic {
    width: 700px;
}



.title-container {
display: flex;
}

@media only screen and (max-width: 1400px) {
  .List-topic {
      width: 100%;
  }
}


@media only screen and (max-width: 600px) {
    .Topic1 {
        margin-bottom: 10%;
    }
  }
