.recent-topic-window {
    color: white;
    width: 300px;
    background-color: rgb(133, 133, 133);
    margin-top: 10px;
}
.RecentWindow {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.recent-label {
    font-size: 14px;
    font-weight: 600;
}

.label-div {
    text-align: left;
    padding-left: 15px;
}
.ListCard {
    background-color: rgb(209, 209, 209);
    text-align: left;
    padding: 5px;
    list-style: none;
    padding-left: 10px;
    white-space: pre-line;
    max-height: 50px;
    overflow: hidden;
    cursor: pointer;
}

.ListCard:hover {
    background-color: rgb(133, 133, 133);
}

.title_message {
    color:#357EDD;
    font-size: 17px;
}

.text_message {
    color: black;
    font-size: 12px;
    padding-top: 10px;
}

@media only screen and (max-width: 1200px) {
    .recent-topic-window {
        position: static;
        width: 100%;
        margin-bottom: 10px;
    }
    .RecentTopicCard {
        display: inline-block;
    }

    .ListCard {
        background-color: white;
        text-align: left;
        list-style: none;
        white-space: pre-line;
        height: 70px;
        overflow: hidden;
    }
    
    .title_message {
        color:#357EDD;
        font-size: 17px;
    }
    
    .text_message {
        color: black;
        font-size: 12px;
        padding-top: 5px;
    }
}



/* OLD
.RecentTopicCard {
    display: inline-block;
}

.recent-topic-window {
    width: 100%;
}
h2 {
    color: white;
}
.RecentWindow {
    
    padding: 20px;

    
}
.ListCard {
    background-color: white;
    width: 200px;
    text-align: left;
    margin: 3px;
    list-style: none;
    padding-left: 10px;
    white-space: pre-line;
    max-height: 100px;
    overflow: hidden;
}

.title_message {
    color:#357EDD;
    font-size: 17px;
}

.text_message {
    color: black;
    font-size: 12px;
    padding-top: 10px;
}

.CardWrapper {
    padding: 5px;
}
*/